@charset "UTF-8";
/* @media only screen and (min-width : 481px) */
body
{
 font-family: 'Times New Roman', Times, serif;
}
/* #wrapper
{

} */
.mainNav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
}
.Profile_Icon
{
    width: 40px;
    height: 40px;
    padding: 5px;
}
.NavLink
{
    padding-left: 5px;
    background-color: brown;
}