@charset "UTF-8";
@media only screen and (min-width : 481px) {

/* main tag formatting */
body
{
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
#wrapper
{
    background-color: cornflowerblue;
    min-width: 100%;
}
footer
{
    clear: both;
}
.hardBreak
{
    clear: both;
}
/* top navigation bar */
.mainNav
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
}
.Profile_Icon
{
    width: 40px;
    height: 40px;
    padding: 5px;
}
.NavLink
{
    padding-left: 5px;
    background-color: green;
}
/* Index Page */
/* Title Section */
.titleHolder
{
    position: relative;
    text-align: center;
    height: fit-content;
}
.pageTitle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 50px;
}
.mountains
{
    width: 100%;
}
/* about page */
/* about right side content */
#aboutAside
{
    position: sticky;
    left: 100%;
    float: right;
    top: 55px;
    background-color: aquamarine;
    width: 30%;
}
#aboutAsideFigure
{
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#selfPhoto
{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
#aboutAsideFigureCaption
{
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
/* about page content */
.pageContent
{
    width: 70%;
    background-color: yellowgreen;
}
#aboutVideoLink
{
    background-color: blueviolet;
}
#aboutVideo
{
    width: 100%;
}
/* project page */
.projBox
{
    float: left;
    margin: 5px;
    background-color: burlywood;
    width: 200px;
    height: 200px;
}
.projLink
{
    /* makes entire project box clickable */
    display: block;
    height: 100%;
    width: 100%;
}
/* Contact Page */
#formHolder
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
#contactForm
{
    background-color: aqua;
    padding: 2%;
}
.inputLabel
{
    font-size: 20px;
    background-color: lightpink;
}
/* .inputBox
{
    
} */
#buttonHolder
{
    display: flex;
    justify-content: center;
}
#formSubmit
{
    /* Linear Gradient */
    font-size: 20px;
    border-radius: 10%;
    background: green;
    background: -moz-linear-gradient(to right ,#009900, #00CC00);
    background: -webkit-linear-gradient(to right ,#009900, #00CC00);
    background: -o-linear-gradient(to right ,#009900, #00CC00);
    background: linear-gradient(to right ,#009900, #00CC00);
}
#formReset
{
    /* Angular Gradient */
    font-size: 20px;
    border-radius: 10%;
    background: red;
    background: -moz-linear-gradient(45deg,#990000, #FF0000);
    background: -webkit-linear-gradient(45deg,#990000, #FF0000);
    background: -o-linear-gradient(45deg,#990000, #FF0000);
    background: linear-gradient(45deg,#990000, #FF0000);
}

}