@charset "UTF-8";
@media only screen and (min-width : 481px) {

/* main tag formatting */
body
{
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
}
#wrapper
{
    background-color: cornflowerblue;
}
footer
{
    clear: both;
}
.hardBreak
{
    clear: both;
}
/* top navigation bar */
.mainNav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
}
.Profile_Icon
{
    width: 40px;
    height: 40px;
    padding: 5px;
}
.NavLink
{
    padding-left: 5px;
    background-color: brown;
}
/* about page */
/* about right side content */
#aboutAside
{
    position: fixed;
    right: 0;
    top: 55px;
    background-color: aquamarine;
    width: 30%;
}
#aboutAsideFigure
{
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#selfPhoto
{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
#aboutAsideFigureCaption
{
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
/* about page content */
.pageContent
{
    width: 70%;
    background-color: yellowgreen;
}
#aboutVideoLink
{
    background-color: blueviolet;
}
#aboutVideo
{
    width: 100%;
}
/* project page */
.projBox
{
    float: left;
    margin: 5px;
    background-color: burlywood;
    width: 200px;
    height: 200px;
}
}